.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 55px 0px rgba(0,0,0.3);
}
.swipeButtons__repeat{
    padding: 3vw !important;
    color: #f5b748 !important;
}
.swipeButtons__left{
    padding: 3vw !important;
    color: #ec5e6f !important;
}
.swipeButtons__star{
    padding: 3vw !important;
    color: #62b4f9 !important;
}
.swipeButtons__right{
    padding: 3vw !important;
    color: #76e2b3 !important;
}
.swipeButtons__lightning{
    padding: 3vw !important;
    color: #915dd1 !important;
}
@media screen and (max-width:768px){
    .swipeButtons{
        bottom: 3vh;
    }

    .swipeButtons__left, .swipeButtons__lightning, .swipeButtons__repeat, .swipeButtons__right, .swipeButtons__star{
        padding: 10px !important;
        font-size: 10px !important;
    }

    .swipeButtons .MuiIconButton-root {
        font-size: 15px;
    }
}

